@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-brand-sidebar: #0f172a;
  --color-brand-sidebar-hover: #1e293b;
  --color-brand-primary: #2563eb;
  --color-brand-primary-hover: #1d4ed8;
  
  --color-brand-success: #10B981;
  --color-brand-warning: #F59E0B;
  --color-brand-danger: #EF4444;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
